@use "design" as d;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include d.font-family;
}

main {
    min-height: 100vh;
    overflow: hidden;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../public/images/bg-pattern.svg");
    background-size: 320%;
    background-repeat: no-repeat;
    padding-bottom: 8em;

    @media (min-width: 1000px) {
        max-width: 100vw;
        background-size: 120%;
        background-position: 35% -8%;
    }
}

.main-header {
    padding-top: 8.8em;
    text-align: center;
    font-size: 1.26rem;
    display: flex;
    flex-direction: column;
    background-image: url(../public/images/pattern-circles.svg);
    padding-bottom: 6.5em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 63.5%;
    background-size: 39%;
    color: map-get(d.$color-bucket, "Text & CTA Background");

    @media (min-width: 1000px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 5em;
        background-size: 11.5%;
        background-position: center 55%;
        padding-bottom: 4.5em;

        h1 {
            flex-basis: 100%;
            font-size: 1.7rem;
            letter-spacing: 0.5px;
        }

        .content-container {
            display: flex;
            flex-basis: 100%;
            justify-content: center;
            align-items: center;

        }
    }

    p {
        font-size: 1.67rem;
        padding-top: 0.7em;
        color: map-get(d.$color-bucket, "Text");
        font-weight: 600;

        @media (min-width: 1000px) {
            padding: 0;
            padding-top: 14px;
            font-size: 15px;
            padding-top: 12px;
        }

    }

    p:last-child {
        padding-top: 0.4em;

        @media (min-width: 1000px) {
            padding-top: 10px;
        }
    }
}

.slider-section {
    text-align: center;
    padding-top: 4.5em;
    display: flex;
    flex-direction: column;
    width: 88%;
    border-radius: 1.5em;
    position: relative;
    gap: 3em;
    background-color: map-get(d.$color-bucket, "Pricing Component Background");
    box-shadow: 0 0.2px 100px hsl(225, 20%, 80%);

    @media (min-width: 1000px) {
        width: 42vw;
        border-radius: 0.5em;
        padding-top: 0;
        gap: 1.5em;

        header {
            display: flex;
            padding-left: 2.7em;
            justify-content: space-between;
            align-items: center;
            padding-top: 2.7em;
            padding-right: 3em;
        }
    }

    span {
        display: block;
    }

    span:first-child {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 4.4px;
        padding-right: 5px;
        color: map-get(d.$color-bucket, "Text");

        @media (min-width: 1000px) {

            font-size: 15px;
            letter-spacing: 1.5px;
            padding-right: 0;
        }

    }

    .price-container {
        position: absolute;
        top: 17.5em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4em;

        @media (min-width: 1000px) {
            position: static;
            width: auto;
        }

        span:first-child {
            font-size: 4rem;
            font-weight: 800;
            letter-spacing: -1.5px;
            transform: translateX(-3px);
            color: map-get(d.$color-bucket, "Text & CTA Background");

            @media (min-width: 1000px) {
                font-size: 2.5rem;
                transform: translateX(-2px);
            }
        }

        span:last-child {
            font-size: 1.8rem;
            color: map-get(d.$color-bucket, "Text");

            @media (min-width: 1000px) {
                font-size: 1rem;
            }
        }
    }

    .slider {
        display: grid;
        place-items: center;


        .svg-container {
            padding: 1rem;
            background-color: map-get(d.$color-bucket, "Discount Text");
            width: 5.05em;
            height: 5.05em;
            border-radius: 50%;
            z-index: 2;

            @media (min-width:1000px) {
                width: 2.5em;
                height: 2.5em;

                svg {
                    width: 50px;
                    height: 50px;
                    transform: translateX(-0.5em) translateY(-15%);
                }
            }
        }


        .bar {
            position: absolute;
            width: 84.5%;
            height: 1rem;
            border-radius: 1em;
            left: 3.2em;
            background-color: map-get(d.$color-bucket, "Full Slider Bar");

            @media (min-width: 1000px) {
                left: 2.9em;
                width: 82.5%;
                height: 0.5em;
            }
        }
    }

    .toggle-container {
        margin-top: 6.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        letter-spacing: 2px;
        gap: 0.8em;
        padding: 0.18em 0em;
        word-spacing: 0px;
        padding-bottom: 1.2em;

        @media (min-width: 1000px) {
            margin-top: 0.8em;
            font-size: 12px;
            padding: 0;
            gap: 0px;
            justify-content: flex-start;
            width: 100%;
            padding-left: 16.4em;
            padding-top: 5px;
            gap: 1em;
        }

        span:first-child {
            text-transform: capitalize;
            letter-spacing: 0.8px;
            transform: translateX(44px);
            font-weight: 600;

            @media (min-width: 1000px) {
                font-size: 12px;
                letter-spacing: 0px;
                transform: translateX(-44px);
            }
        }

        .toggle {
            width: 3.65em;
            height: 1.9em;
            border-radius: 1em;
            background-color: map-get(d.$color-bucket, "Toggle Background");
            transform: translateX(1.8em);
            display: flex;
            align-items: center;
            padding-left: 8px;

            @media (min-width: 1000px) {
                padding-left: 3px;
                height: 1.7em;
                transform: translateX(-3.3em) translateY(1px);
            }

            .circle {
                border: 2px solid;
                width: 1.2em;
                height: 1.2em;
                border-radius: 1em;
                background-color: map-get(d.$color-bucket, "Empty Slider Bar");
                border-color: map-get(d.$color-bucket, "Text");
            }
        }

        .billing {
            letter-spacing: 0.4px;
            transform: translateX(-1.25em);
            font-weight: 600;
            color: map-get(d.$color-bucket, "Text");

            @media (min-width: 1000px) {
                transform: translateX(-4em);
                letter-spacing: 0;
            }
        }

        .discount {
            display: inline-block;
            border-radius: 10px;
            font-size: 20px;
            padding: 4px 10px;
            font-weight: 800;
            background-color: map-get(d.$color-bucket, "Discount Background");
            color: map-get(d.$color-bucket, "Discount Text");
            position: relative;
            z-index: 1;

            @media (min-width: 1000px) {
                font-size: 10px;
                border-radius: 10px;
                padding: 0px;
                transform: translateX(-40px);

                &::after {
                    content: "25% discount";
                    position: absolute;
                    inset: 0;
                    width: 6.9em;
                    height: 1.5em;
                    z-index: 2;
                    background-color: hsl(14, 92%, 95%);
                    padding: 1.5px 6px;
                    border-radius: 2em;
                    letter-spacing: 0px;
                    transform: translateX(-11px);
                }
            }

        }
    }

    footer {
        border-top: 1.5px solid map-get(d.$color-bucket, "Toggle Background");
        padding-top: 2.7em;

        @media (min-width: 1000px) {
            padding-top: 0em;
            margin-top: 1em;
            padding-top: 1.85em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 2.7em;
            padding-bottom: 1.9em;
        }

        .features {
            color: map-get(d.$color-bucket, "Text");
            display: flex;
            flex-direction: column;
            gap: 0.55em;

            @media (min-width: 1000px) {
                padding-left: 2.9em;
                gap: 0.1em;
            }

            span {
                text-transform: none;
                font-weight: 600;
                letter-spacing: 0px;
                font-size: 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (min-width: 1000px) {
                    justify-content: flex-start;
                    font-size: 12px;
                    gap: 0;
                }

                svg {
                    display: block;
                    transform: translate(-12px);

                    @media (min-width: 1000px) {}
                }
            }


        }

        .button-container {
            button {
                border: 0;
                background-color: map-get(d.$color-bucket, "Text & CTA Background");
                font-size: 12px;
                font-weight: 800;
                border-radius: 2em;
                color: map-get(d.$color-bucket, "CTA Text");
                padding-top: 1em;
                padding-bottom: 1em;
                width: 14em;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}