@use "design" as d;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include d.font-family;
}

main {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../public/images/bg-pattern.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-header {
    padding-top: 8.5em;
    text-align: center;
    font-size: 1.28rem;
    display: flex;
    flex-direction: column;
    background-image: url(../public/images/pattern-circles.svg);
    padding-bottom: 6.2em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 67%;
    background-size: 40%;

    p {
        font-size: 1.67rem;
        padding-top: 0.7em;
    }

    p:last-child {
        padding-top: 0.4em;
    }
}

.slider-section {
    border: 2px solid;
    text-align: center;
    padding-top: 4.75em;
    display: flex;
    flex-direction: column;
    width: 88%;
    border-radius: 1.5em;
    position: relative;
    gap: 3em;

    span {
        display: block;
    }

    span:first-child {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 5px;
        padding-right: 5px;
    }

    .price-container {
        position: absolute;
        top: 17.8em;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;

        span:first-child {
            font-size: 4rem;
            font-weight: 800;
            letter-spacing: -1.5px;
            transform: translateX(10px)
        }

        span:last-child {
            font-size: 1.8rem;
            padding-right: 0.7em;
        }
    }

    .slider {
        display: grid;
        place-items: center;

        .svg-container {
            padding: 1rem;
            background-color: map-get(d.$color-bucket, "Discount Text");
            width: 5.05em;
            height: 5.05em;
            border-radius: 50%;
            z-index: 2;
        }


        .bar {
            position: absolute;
            width: 86%;
            height: 1rem;
            border-radius: 1em;
            left: 2.7em;
            background-color: map-get(d.$color-bucket, "Full Slider Bar");
        }
    }

    .toggle-container {
        margin-top: 6.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        letter-spacing: 2px;
        gap: 0.2em;
        padding: 0.2em 0em;
        word-spacing: 0px;

        span:first-child {
            text-transform: capitalize;
            letter-spacing: 0px;
            transform: translateX(2.35em);
            letter-spacing: 0.5px;
            word-spacing: 1px;
        }

        .toggle {
            width: 3.7em;
            height: 1.9em;
            border-radius: 1em;
            margin-left: 2.8em;
            background-color: map-get(d.$color-bucket, "Toggle Background");
        }
    }
}