@use "design" as d;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @include d.font-family;
}

main {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;

    .main-header {
        padding-left: 0.2em;
        text-align: center;
        background-size: 30%;
        background-position-x: center;
        padding-top: 4.6em;
        padding-bottom: 5.6em;
        background-image: url(../public/images/pattern-circles.svg);
        background-repeat: no-repeat;
        background-position-y: 2.2em;
        position: relative;

        h1 {
            font-size: 1.75rem;
            padding-bottom: 0.4em;
            color: map-get(d.$color-bucket, "Text & CTA Background");
        }

        p {
            font-size: 15px;
            font-weight: 600;
            color: map-get(d.$color-bucket, "CTA Text");
        }
    }

    .slider-section {
        padding-top: 2.6em;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 2.1em;

            span:first-child {
                padding-left: 1.8em;
                font-size: 14.5px;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 600;
            }

            .price-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.2em;

                span {
                    display: inline-flex;
                }

                span:first-child {
                    font-size: 2.5rem;
                    letter-spacing: 1.5px;
                }

            }


        }

    }

}